<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <!-- todo work out how to sort on a nested list property -->
            </select>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="clients">
                <li ng-repeat="client in clients | filter:query | orderBy:orderProp" class="thumbnail">
                    <a href="#/clients/{{client.id}}" class="thumb">{{client.name}}</a>
                    <p>todo shall we add firther client information here - i think so!!</p>
                </li>
            </ul>

        </div>
    </div>
</div>