<!--
This is the page that displays a weeks calendar for the current week, it is the default view
where that a logged in client sees, it will be colour coded where the appointments the client has will be colored green
full appointments dates will be red, a client will be able tor egister a default provider
and it will the calendar of this provider that will be displayed, there will be a drop down
of any of the other providers that the client can pick from, changing that will update the calendar view
There will be arrows to navigate to the next week, month a year drop downs to navigate to a month or year and a week
drop down to quickly navigate to a week
-->
<div class="container" ng-controller="ScheduleController">
    <h3>Appointment schedule for week from {{schedule.startDate}} to {{schedule.endDate}}</h3>

    <!-- top bar here will contain the drop downs -->
    <div class="top-bar">
        <span>
            <select class="">
                <option ng-repeat="provider in providers">{{provider.name}}</option>
            </select>
        </span>
        <span>
            <!-- todo a date picker i think -->
            <select class="">
                <option ng-repeat="date in dates">{{date.displayValue}}</option>
            </select>
        </span>
    </div>
</div>